.flexbox{
    background-color: green;
    font-size: 35px;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    flex-flow: wrap row;
    justify-content:center;
    height: 400px;
    align-items:center;
    

}
.flexbox > div{
    background-color: red;
    margin: 5px;
    padding: 5px;
    width: 100px;
    box-shadow: 5px 5px yellow;
}