table,td,th{
    border: 2px solid orange;
    border-collapse: collapse;
    text-align: center;
  }
  
  .t1{
      width: 200px;
      height: 100px;
  }
  .t2{
      width: 300px;
      height: 50px;
  }
  th,td{
      color: rgb(246, 70, 21);
  }